/* ===================
Common-css
=================== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 85%;
    margin: 0 auto;
}
.flexible_container{
    display: flex;
    align-items: center;
}
.child{
    width: 50%;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 35px;
}
h3{
    font-size: 20px;
}
h1, h2{
    font-weight: 900;
    margin-bottom: 50px;
}
.orange_color{
    color: #fb934a;
}
.h2Color{
    color: #707070;
}
.pLine_height{
    line-height: 30px;
}
.link_btn {
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(to right, #fb954b, #ff4b30);
    padding: 15px 25px;
    color: #fff;
    margin-top: 30px;
    border-radius: 40px;
    box-shadow: 0 0 10px #fb954b;
}
.secMargin{
    margin-bottom: 70px;
}


/* ===================
Header-css
=================== */
.header_top{
    margin-top: 70px;
}
.header_description p {
    color: dimgray;
    font-size: 17px;
}
.header_img img {
    width: 100%;
}


/* ===================
About-css
=================== */
.about {
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
}
.about_img img {
    width: 50%;
}



/* ===================
Blog-css
=================== */
.blog_header_title {
    text-align: center;
    width: 700px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.post {
    display: flex;
    gap: 4%;
}
.food_post {
    width: 33.33%;
    background: #fff;
    box-shadow: 0 0 30px lightgrey;
    padding: 20px;
    border-radius: 20px;
    padding-bottom: 30px;
}
.food_post img {
    width: 100%;
    height: 250px;
    margin-bottom: 30px;
    border-radius: 15px;
}
.food_post h3 {
    font-weight: 900;
    margin-bottom: 15px;
}



/* ===================
Counter-css
=================== */
.counter {
    background: #fff;
    box-shadow: 0 0 20px lightgray;
    border-radius: 20px;
    padding: 60px 0;
    display: flex;
    justify-content: space-around;
}
.counter div > h1 {
    margin-bottom: 10px;
    color: #18191e;
    font-size: 50px;
}